<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW 13</title>
</head>
<body>
  <script src="/static/code.js"></script>

    <select id="year_dropdown" onchange="onSelectYear(this)">
        <option id="year_option" value=""></option>
    </select>

    <select id="make_dropdown" onchange="onSelectMake(this)">
        <option id="make_option" value=""></option>
    </select>

    <select id="model_dropdown" onchange="onSelectModel(this)">
        <option id="model_option" value=""></option>
    </select><br>

    <p id="car_info"></p><br>

    <img id="QR_code" src="">

</body>
</html>